Source: nagios-ehf
Section: utils
Priority: required
Maintainer: Hannibal Buildbot (builder01.ord6) <support@servercentral.com>
Standards-Version: 3.9.5
Build-Depends: 
 debhelper (>= 8.0.0),
 cpanminus, 
 perl,
 perl-base (>= 5.18.2)

Package: nagios-ehf
Architecture: amd64 
Priority: optional
Depends:
 ${misc:Depends},
 perl,
 perl-base,
Provides: nagios-ehf
Description: ServerCentral baby-nagios 
